<div class="row">
  <div class="col-md-3">
    <p><b>Date of birth</b><br> {{patient.date | date: 'mediumDate'}}</p>
    <p><b>Sex</b><br>{{patient.sex}}</p>
    <p><b>Country</b><br>{{patient.country}}</p>
    <p><b>State</b><br>{{patient.state}}</p>
    <p><b>Address</b><br>{{patient.address}}</p>
  </div>
  <div class="col-md-9">
    <div id="commentCard" class="card card-body mr-3">
      <h5>Comments:</h5>
      <div id="commentsSection">
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
        {{patient.date | date: 'mediumDate'}}<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dignissimos dolorum itaque odit quibusdam quos?
        <hr>
      </div>
      <form id="commentForm" class="form-group form-inline">
        <input class="form-control" type="text" id="commentInput">
        <button id="commentButton" type="submit"><i class="fa fa-plus"></i></button>
      </form>
    </div>
  </div>
</div>
